/* Modificações Menu troca entre tabelas */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

li{
    display: inline;
    float: left;
}

li a{
    border-color: yellowgreen;
    background-color: yellowgreen;
    color: black;
    width: 100px;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
}

li a:hover{
    background-color: yellow;
}

/* Modificações gerais das tabelas */

table, tr, td{
    border: 2px solid;
    border-collapse: collapse;
    margin: 20px;
}

table{
    width: 500px;
    height: 90px;
}

td{
    padding: 8px;
}

/* Modificações da tabela 01 */

.tr02{
    text-align: center;
}

.tr03{
    text-align: right;
}

.tr05{
    text-align: center;
}

.td01{
    text-align: center;
}

.tr08{
    text-align: center;
}

/* Modificações da tabela 02 */

.tr10{
    text-align: center;
}

.tr11{
    height: 400px;
    text-align: center;
}

.tr12{
    text-align: center;
}

/* Modificações tabela 03 feitas direto no HTML */

